/* reset the current styling of the browser */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 900px;
    margin: auto;
    /* set padding 0 to top and bottom and 10 for left and right */
    padding: 0 10px;
}

/* main styling */
/* here v style fth body of the page
 */

html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    height: 3000px;
}

h1
{
    padding-bottom: 20px;
}

a
{
    text-decoration: none;
    

}
#navbar
{   
    overflow: hidden;
    background: #333333;
    /* color: white; */
    /* if v set white as color it will no be shown up since text specified in a tag. so need to explicitly specify navbar with the a tag. like below*/
}
#navbar a{
    color: white;

}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    float: right;
    list-style: none;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    
    /* always deisplay the a element as block since only padding can b effectively given */
    display: block;
    /* margin-right: 200px; */
    padding: 20px;
}
/* here v change style of link while hover over it  */
#navbar ul li a:hover
{
    color: #F0AD4E;
    transition: .5s;
    background: #444444;

}

/* here v set the stylng for the home navbar when the page loads */

#navbar ul li a.home
{
    color: #F0AD4E;
    background-color: #444444;
}
#showcase
{
    background: url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}



.primary-target
{
    color: #F0AD4E;
   
    /* font-size: 30px; */
}
#showcase h1{
font-size: 70px;       
}

