*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    max-width: 960px;
    margin: auto;
    padding: 0 10px;
}
.bg-light
{
    background: #f4f4f4;
}
.lead
{
    font-size: 14px;
}
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;

}
a{
    text-decoration: none;
}
#navbar
{
    background: #333333;
    overflow: hidden;
    /* height: 50px; */
}

#navbar a{
      color: #f4f4f4;
}
/* align logo to the left */
#navbar h1{
    float: left;   
    padding-top: 20px;
}
#navbar ul{
    float: right;
    /* overflow: auto; */
    list-style: none;
}

#navbar ul li
{
      float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
}
#navbar li a:hover, #navbar li a.current
{
    color: #F0AD4E;
    background: #444444;
}
/* #navbar li a.current
{
    color: #F0AD4E;
    background: #444444;
} */
#about_info

{
    overflow: auto;
}

#about_info #about_contents
{
    float: left;
    width: 50%;
    overflow: hidden;
    /* text-align: center; */
    height: 280px;
   
    }   
 

#about_info
{
    padding-top: 25px;
}
#about_contents p{
    padding: 30px 0;
}
.primary-target
{
color: #F0AD4E;
}
#about_contents h1{
    font-size: 35px;
}

.about_img img
{
    padding-left: 50px;
    padding-right: 20px;   
    /* to make the image looks round */
    border-radius: 50%;
}
#about_contents
{   
    color:#454545;
}

#guest_details .guest_bg
{
    background: url('./img/test-bg.jpg') no-repeat center/cover;
    /* give the height for the bgimage else no background appears */
    height: 600px;
}


.bg-dark
{
    background: #333333;
    /* color: #ffffff;  */
}
.head h1
{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 30px;
}


.box-1
{
    background: #FBCC7A;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
    
  
  
}
.box-1 .box-p 
{
   
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
    width: 85%;
}
.box-1 .guest_img
{
    float: left;
    width: 15%;
    padding: 15px;
   
}
.guest_img img{
    border-radius: 50%;

}

.box-p{
    font-size: 14px;
}

.box-2
{
    background: #FBCC7A;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
    margin-top: 50px;
    
  
  
}
.box-2 .box-p 
{
   
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
    width: 85%;
}
.box-2 .guest_img
{
    float: left;
    width: 15%;
    padding: 15px;
   
}
#about-footer .foot
{
    background: #444444;
    color: #f4f4f4;
 
}
#about-footer .foot p{
    text-align: center;
    padding: 30px 0px;
}
