/* import the font url from the google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Roboto', sans-serif;
    height: 2000px;

    }
a
{
    text-decoration: none;
    
}
p
{
    padding: .7rem 0px
}
li
{
    list-style: none;
}


/* utility Classes */
.primary-target
{
    color: #11B211;
}
/* heading */
.l-head
{
    font-size: 4rem;
}
.m-head
{
    font-size: 1.7rem;
    margin: 1.2rem 0;
}
/* paragraph */
.lead{
    font-size: 1.3rem;
}
/* read more link */
.btn{
    display: inline-block;
    padding: .7rem 1.7rem;
    background: #65CC65;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    margin: 1rem 0;
    border: none;
}
.btn:hover
{
    background: #50A350;
}
.bg-light
{
    background: lightgrey;
}
.text-center
{
    text-align: center;
}
.text-primary
{
    color: #11B211;
}
.container
{

    max-width: 960px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.m-para
{
    font-size: .9rem;
    padding: 1.2rem 0;
    line-height: 1.2rem;
}


/* NavBar */
#navbar
{
    display: flex;
    /* by using display: flex, all child items(h1 and ul) r aligned horizontally */
    background: #333333;
    position: sticky;
    top: 0;
    color: #ffffff;
    /* both h1 and ul aligned horizontally at ends. */
    justify-content: space-between;
    z-index: 1;
    padding: 1em;
}
#navbar ul
{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* now both the h1 and ul are at center of the navbar */
    list-style: none;
}
#navbar ul li a
{
    padding: .8rem;
    margin: 0 .5rem;
    color: #ffffff
}

#navbar ul li a:hover
{
    background: #11B211;
    border-radius: 5px;

}


 /* Showcase Header */
#showcase
 {
     background: #333333 url('../img/showcase.jpg')
     no-repeat center center/cover;
     /* to cover the imasge in whole browser */
     height: 100vh;
     color: #ffffff;
}
#showcase .showcase-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* here cotents wud not be in the center vertically
    since v add no height for the showcae-content */
    height: 100%;
    /* There is a height on the Showcase which is 100 vh but not on the flex container.
   v set height as 100% means 100% of the 100vh.
   *which is alse 100vh./
   /* so can also set 100vh instead of 100%*/

   background-color: rgba(0, 0, 0, .5)
   
}


/* Section: What We Do */
#what .items{
    /* make flex container */
    display: flex;
    padding: 1rem;
}
/* Styling each item */
#what .item{
    /* set flex: 1 so each items shares same width in the section.s */
    flex: 1;
    text-align: center;
    padding: 1rem;
}
/* Styling each icons */
#what .items .item i{
    background: #11B211;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}


/* Section2: Who We Are */
/* here sectioni is made as a flex container */
/* snce no any containers is not needed here */

#who
{
    display: flex;
}

/* we set flex 1 for divs in that section, so they hav same width */
#who div{
    flex: 1;
}

#who #who-img
{
    background: url('../img/people.jpg') no-repeat center center/cover;
}
div#who-contents
{
    padding-left: 2rem;
}