@import url('https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    /* set height of browser*/
    height: 100%;
}

a{
    text-decoration: none;
    color: #333333;
}
ul{
    list-style: none;
}


/* Navbar */
#navbar
{
    background: rgb(231, 230, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    /* align-content: flex-end; */
}
#navbar h1{
    padding: 1rem;
    color: #1D2C59;
}

#navbar ul{
    display: flex;
    align-items: center;


}
/* give padding and margin for each flex item */
#navbar ul li a{
    padding: 1rem;
    margin: 0 .75rem;
}
#navbar  i{
    color: #00CED1;
}

#navbar ul li a:hover
{
    background: #1D2C59;
    color: #f4f4f4;
    border-radius: 10px;
}

/* Header section -1 */

#head-contents 
{
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    
 
    align-items: center;

}
#head-contents .para-1
{
    padding: 1rem;
    
}
#head-contents .support
{
    display: flex;
}
#head-contents .support .icons
{
    padding: 1.3rem 2rem;
}

#head-contents .support .icons i:hover, h4:hover
{
    color: #00CED1;
}

/* to add space between text and icon */
.icons2 .fa-fw
{
    padding-right: 1.5rem;
}

/* SECTION-1 : COLORS */
#colors .container
{
    display: flex;
    justify-content: space-around;   
    /* by positioning absolute it is relative to its parent element body
    so if body takes 100%, this div also takes same height */
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0; 
    overflow: hidden;
    
}

#colors .colorbox-1
{
    padding: 2rem;
    flex: 1;
    cursor: pointer; 
}
#colors .each
{
    background: #1D2C59;
}

#colors .each2
{
    background: #3C6997;
}

#colors .each3
{
    background: #D03B71;
}

#colors .each4
{
    background: #C1C1C1;
}

#colors .each5
{
    background: #A40606;
}

.var
{
    text-align: center;
    padding-top: 20rem;
}
.var .hexa
{
    font-size: 2rem;
}

.var .hexa:hover
{
    color: #f4f4f4;
}
.var .name
{
    padding: 1rem;
    color: #333333;
}